/*========= header ======================*/
.header {
  /* фиксированый хедер с тенью*/
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;

  border-bottom: 1px solid #ececec;
  background-color: var(--body-background-color);
  /*end фиксированый хедер с тенью*/
}
.align-flex-center {
  // _placeholders.scss
  @extend %vertical-align;
  justify-content: space-between;
}
.header__nav {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.header__nav {
  @extend %vertical-align;
  cursor: pointer;
}
.header__nav__list {
  display: flex;
  align-items: center;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.header-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__nav__item + .header__nav__item {
  margin-left: 50px;
}
.header__list__item {
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;

  @include font(14px, 500, 16px);

  letter-spacing: 0.02em;
  color: var(--logo-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &.current {
    color: var(--accent-color);
  }
}
.header__contact {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.header__contact__item {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;

  @include font(14px, 500, 16px);

  letter-spacing: 0.02em;

  color: var(--text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact__list + .header__contact__list {
    margin-left: 50px;
  }
}
/* ====== icons contact========== */
.header__icon__mail {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}

.header__icon__phone {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}

.current {
  position: relative;
  color: var(--accent-color);
  @media screen and (min-width: 768px) {
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: -1px;
      left: 0px;

      border-radius: 2px;

      background-color: var(--button-backgr-color);
    }
  }
}
/*========================== menu modal ==========================*/
.modal-menu__button {
  display: none;
}
@media screen and (max-width: 767px) {
  .modal-menu__button {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;

    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-menu__button__modal-icon-open {
    width: 40px;
    height: 40px;
    fill: currentColor;
    line-height: 0;
  }
  .modal-menu__button:hover,
  .modal-menu__button:focus {
    color: var(--accent-color);
  }
}
/*==========end header=========*/
