/*=========== modal-send-button ===============*/
.modal-text {
  color: var(--text-color);
}
.modal-text-link {
  text-decoration-line: underline;
  color: var(--text-color-accent);
}
.modal-send-button {
  padding: 10px 56px;
  align-self: center;
  font-family: inherit;

  @include font(16px, 700, 30px);

  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--body-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-background-color);
  }
}

/*=========== end-modal-send-button ============*/
