/* =============== modal-form ============*/
.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  color: var(--main-color-black);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal-form-head {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color-black);
  margin-bottom: 12px;
  @media screen and (min-width: 480px) {
    font-size: 20px;
  }
}
/*=======modal-rotation=========*/
@media screen and (min-width: 568px) and (max-width: 823px) and (max-height: 414px) {
  .modal-form {
    padding: 20px;
  }
  .modal-form-head {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .modal-rotation {
    display: flex;
    margin-bottom: 20px;
  }
  .modal-rotation-main {
    margin-right: 10px;
    width: 55%;
  }
  .modal-rotation-textarea {
    width: 45%;

    display: flex;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
  }
  .modal-form-field {
    display: none;
    margin-bottom: 0px;
  }

  .modal-input-form::placeholder {
    visibility: visible;
    opacity: 1;
    font-size: 10px;
    line-height: 1.16;

    color: rgba(117, 117, 117, 0.5);
  }

  .modal-input-textarea {
    height: 138px;
    margin-bottom: 0;
  }
  .modal-input-textarea::placeholder {
    font-size: 10px;
  }
}
.private-policy {
  justify-content: center;
}
.modal-send-button {
  padding: 0px 40px;
}

/*=======end modal-rotation=========*/

.modal-form-field {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--text-color);

  margin-bottom: 4px;
}
.modal-form-input-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.modal-input-form {
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 42px;
  padding-bottom: 12px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  color: var(--main-color-black);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:last-child {
    margin-bottom: 20px;
  }
  &::placeholder {
    visibility: hidden;
    opacity: 0;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: var(--accent-color);
  }
}
.modal-input-form:focus + .modal-icon-form {
  fill: var(--accent-color);
}
.modal-icon-form {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 15px;
  transform: translatey(-50%);

  fill: currentColor;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .modal-input-form:focus + & {
    fill: var(--accent-color);
  }
}
.modal-input-textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 96px;

  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  color: var(--main-color-black);

  resize: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: var(--accent-color);
  }
}

.private-policy {
  display: flex;
  flex-direction: row;
  margin-left: 12px;
  margin-bottom: 30px;
}
/* =============== end-modal-form ============*/
