/*===== smooth scrolling header&footer ====*/
html {
  scroll-behavior: smooth;
}
/*=====end smooth scrolling header&footer ====*/

/*============ basic reset ============= */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.flex {
  display: flex;
}
body {
  @include font(14px, 400, 24px);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*============end basic reset ======== */
