.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.skills-company {
  padding-top: 94px;
  padding-bottom: 0;
}
.pictures-company {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.team-company {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color);
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
  align-items: baseline;
}
