.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.pictures-company {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.skills-company {
  padding-top: 94px;
  padding-bottom: 47px;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.team-company {
  text-align: center;
  padding-top: 47px;
  padding-bottom: 94px;
  background-color: var(--background-color);

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;

}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
