/*========general style========*/
:root {
  --main-color-black: #212121;
  --logo-color: #000000;
  --text-color: #757575;
  --accent-color: #2196f3;
  --footer-background-color: #2f303a;
  --body-background-color: #ffffff;
  --background-color: #f5f4fa;
  --white-contacts-color: rgba(255, 255, 255, 0.6);
  --border-color: rgba(238, 238, 238, 1);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --button-background-color: #188ce8;
  /*=========font family==========*/
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;
  /*=========end font family==========*/
}
/*========end general style========*/
